<div class="container-fluid">
  <div class="row row-model">
    <div class="col-4">
      <div>{{error}}</div>
    </div>
  </div>

  <div class="row">

    <!--MidiKeyboard-->
    <div class="col-lg-4 col-md-6">

      <!--шаблон для чтения-->
      <div *ngIf="!isMidiKeyboardUpdate">
        <div class="shadow-sm p-2 mb-2 bg-white" align="center">
          <h2>{{midiKeyboardDto.manufacturer}} {{midiKeyboardDto.model}}</h2>
        </div>
        <table class="table table-striped">
          <thead></thead>
          <tbody>
          <tr>
            <th>Модель: </th>
            <th>{{midiKeyboardDto.model}}</th>
          </tr>
          <tr>
            <th>Производитель: </th>
            <th>{{midiKeyboardDto.manufacturer}}</th>
          </tr>
          <tr>
            <th>Кол-во клавиш: </th>
            <th>{{midiKeyboardDto.keysNumber}}</th>
          </tr>
          <tr>
            <th>Midi-Выход: </th>
            <td>
              <div class="midi-out-img mx-auto" [ngClass]="{'image-yes': midiKeyboardDto.hasMidiOut,
              'image-no': !midiKeyboardDto.hasMidiOut}">
              </div>
            </td>
          </tr>
          <tr>
            <th>Цена: </th>
            <th>{{midiKeyboardDto.price}}</th>
          </tr>
          </tbody>
        </table>
        <div *ngIf="statusMessageKeyboard" class="alert alert-success alert-dismissible">
          <strong>{{statusMessageKeyboard}}</strong>
        </div>
        <div *ngIf="!isMidiKeyboardDelete">
          <button class="btn col-6 btn-outline-success" (click)="openUpdateMidiKeyboardView()">
            редактировать
          </button>
          <button class="btn col-6 btn-outline-danger" (click)="confirmDeleteMidiKeyboard()">
            удалить
          </button>
        </div>
        <div *ngIf="isMidiKeyboardDelete">
          <h3 align="center">
            Вы уверены что хотите удалить {{midiKeyboardDto.model}}?
          </h3>
          <button class="btn col-6 btn-outline-danger" (click)="deleteMidiKeyboard()">
            Да, удалить
          </button>
          <button class="btn col-6 btn-outline-success" (click)="cancerDeleteMidiKeyboard()">
            Нет, отмена
          </button>
        </div>
      </div>

      <!--шаблон для редактирования-->
      <div *ngIf="isMidiKeyboardUpdate">
        <div class="shadow-sm p-2 mb-2 bg-white" align="center">
          <h2>Редактирование</h2>
        </div>
        <table class="table table-striped">
          <thead></thead>
          <tbody>
          <tr>
            <th>Модель: </th>
            <input type="text" [(ngModel)]="midiKeyboardDto.model" class="form-control" min="1"/>
          </tr>
          <tr>
            <th>Производитель: </th>
            <input type="text" [(ngModel)]="midiKeyboardDto.manufacturer" class="form-control" min="1"/>
          </tr>
          <tr>
            <th>Кол-во клавиш: </th>
            <input type="number" [(ngModel)]="midiKeyboardDto.keysNumber" class="form-control" min="1"/>
          </tr>
          <tr>
            <th>Midi-Выход: </th>
            <select class="form-control" name="hasMidiOut" [(ngModel)]="midiKeyboardDto.hasMidiOut">
              <option value="true">Есть</option>
              <option value="false">Нет</option>
            </select>
          </tr>
          <tr>
            <th>Цена: </th>
            <input type="number" [(ngModel)]="midiKeyboardDto.price" class="form-control" min="1"/>
          </tr>
          </tbody>
        </table>
        <button class="btn col-6 btn-outline-success" (click)="updateMidiKeyboard()">
          сохранить
        </button>
        <button class="btn col-6 btn-outline-warning" (click)="cancelUpdateMidiKeyboard()">
          отмена
        </button>
      </div>
    </div>

    <!-- Specification -->
    <div class="col-lg-4 col-md-6">
      <div class="shadow-sm p-2 mb-2 bg-white" align="center">
        <h2>Спецификация</h2>
      </div>
      <div *ngIf="midiKeyboardDto.specificationId; then specification else nonSpecification"></div>

      <ng-template #nonSpecification>
        <div>
          <div class="shadow-sm p-2 mb-2 bg-white" align="center">
            <h4>Спецификация отсутствует!</h4>
          </div>
          <button class="btn btn-block btn-outline-success" (click)="addSpecification()">Добавить</button>
        </div>

        <!--шаблон для добавления-->
        <table class="table table-striped" *ngIf="isSpecificationCreate">
          <thead>
          </thead>
          <tbody>
          <tr>
            <input type="number" [(ngModel)]="newSpecification.weight" class="form-control"
                   placeholder="Вес (кг):" min="10"/>
          </tr>
          <tr>
            <input type="number" [(ngModel)]="newSpecification.length" class="form-control"
                   placeholder="Длина (мм):" min="100"/>
          </tr>
          <tr>
            <input type="number" [(ngModel)]="newSpecification.width" class="form-control"
                   placeholder="Ширина (мм):" min="10"/>
          </tr>
          <tr>
            <select class="form-control" name="velocity" [(ngModel)]="newSpecification.velocity">
              <option value="undefined" [disabled]="true">Чувствительность:</option>
              <option value="true">Есть</option>
              <option value="false">Нет</option>
            </select>
          </tr>
          <tr>
            <select class="form-control" name="typeOfKey" [(ngModel)]="newSpecification.typeOfKey">
              <option [value]="undefined" [disabled]="true">Тип механики:</option>
              <option value="HAMMER_ACTION">Молоточковая</option>
              <option value="SYNTH_ACTION">Синтезаторная</option>
              <option value="SEMY_WEIGTHED">Полувзвешенная</option>
            </select>
          </tr>
          <tr>
            <input type="button" value="Сохранить" (click)="saveSpecification()" class="btn btn-success" />
            <input type="button" value="Отмена добавления" (click)="cancelAddSpecification()" class="btn btn-warning" />
          </tr>
          </tbody>
        </table>
      </ng-template>

      <ng-template #specification>

        <!--шаблон для чтения-->
        <div *ngIf="!isSpecificationUpdate">
          <table class="table table-striped">
            <thead></thead>
            <tbody>
              <tr>
                <th>Вес (кг): </th>
                <th>{{specificationDto.weight}}</th>
              </tr>
              <tr>
                <th>Длина (мм): </th>
                <th>{{specificationDto.length}}</th>
              </tr>
              <tr>
                <th>Ширина (мм): </th>
                <th>{{specificationDto.width}}</th>
              </tr>
              <tr>
                <th>Чувствительность: </th>
                <td>
                  <div class="midi-out-img mx-auto" [ngClass]="{'image-yes':specificationDto.velocity,
                    'image-no': !specificationDto.velocity}">
                  </div>
                </td>
              </tr>
              <tr>
                <th>Механика: </th>
                <th>{{enumService.getTypeOfKeyEnumValue(specificationDto.typeOfKey)}}</th>
              </tr>
            </tbody>
          </table>
          <div *ngIf="statusMessage" class="alert alert-success alert-dismissible">
            <strong>{{statusMessage}}</strong>
          </div>
          <button class="btn btn-block btn-outline-success" (click)="openUpdateSpecificationView()">
            Редактировать
          </button>
        </div>

        <!-- Шаблон редактирования -->
        <div  *ngIf="isSpecificationUpdate">
          <table class="table table-striped">
            <thead>
            </thead>
            <tbody>
            <tr>
              <th>Вес (кг): </th>
              <input type="number" [(ngModel)]="specificationDto.weight" class="form-control" min="1"/>
            </tr>
            <tr>
              <th>Длина (мм): </th>
              <input type="number" [(ngModel)]="specificationDto.length" class="form-control" min="100"/>
            </tr>
            <tr>
              <th>Ширина (мм): </th>
              <input type="number" [(ngModel)]="specificationDto.width" class="form-control" min="10"/>
            </tr>
            <tr>
              <th>Чувствительность: </th>
              <select class="form-control" name="velocity" [(ngModel)]="specificationDto.velocity">
                <option value="true">Есть</option>
                <option value="false">Нет</option>
              </select>
            </tr>
            <tr>
              <th>Тип механики: </th>
              <select class="form-control" name="typeOfKey" [(ngModel)]="specificationDto.typeOfKey">
                <option value="HAMMER_ACTION">Молоточковая</option>
                <option value="SYNTH_ACTION">Синтезаторная</option>
                <option value="SEMY_WEIGTHED">Полувзвешенная</option>
              </select>
            </tr>
            </tbody>
          </table>
          <button class="btn btn-block btn-outline-success" (click)="updateSpecification()">
            сохранить
          </button>
          <button class="btn btn-block btn-outline-warning" (click)="cancelUpdateSpecification()">
            отмена
          </button>
        </div>
      </ng-template>
    </div>

    <!-- Owners -->
    <div class="col-lg-4">
      <div class="shadow-sm p-2 mb-2 bg-white" align="center">
        <h2>Владельцы</h2>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Пол</th>
            <th>Возраст</th>
            <th>Уровень игры</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let owner of midiKeyboardDto.owners"
              (click)="viewOwner(owner.id)" class="table-row-cursor">
            <th>{{owner.id}}</th>
            <th>{{owner.name}}</th>
            <th>{{enumService.getSexEnumValue(owner.sex)}}</th>
            <th>{{owner.age}}</th>
            <th>{{enumService.getSkillLevelEnumValue(owner.skillLevel)}}</th>
          </tr>
        </tbody>
      </table>
      <div *ngIf="!midiKeyboardDto.owners || (midiKeyboardDto.owners && !midiKeyboardDto.owners.length)"
           class="alert alert-light" role="alert">
        <h5 align="center">Владельцы отсутствуют</h5>
      </div>
    </div>
  </div>
</div>
