.container-fluid {
  padding-top: 100px;

  .table {
    tr {
         text-align: center;
    }

    .midi-out-img {
      width: 20px;
      height: 20px;
    }

    .short-col {
      width: 10%;
    }

    .regular-col {
      width: 10%;
    }

    .image-yes {
      background: url("/../../assets/images/pngwing.yes.png");
      background-size: 20px 20px;
    }

    .image-no {
      background: url("/../../assets/images/pngwing.no.png");
      background-size: 20px 20px;
    }
  }

  .table-row-cursor:hover {
    cursor: pointer;
  }
//
//   .display-none {
//     display: none;
//   }
//
//   .display-block {
//     display: block;
//   }
}
