<div class="container-fluid">
  <div class="row">
    <div class="col-10 offset-1">
      <div class="shadow-sm p-2 mb-2 bg-white" align="center">
        <h2>{{midiKeyboardDto.manufacturer}} {{midiKeyboardDto.model}}</h2>
      </div>
      <table class="table table-striped">
        <thead></thead>
        <tbody>
        <tr>
          <th>Модель: </th>
          <th>{{midiKeyboardDto.model}}</th>
        </tr>
        <tr>
          <th>Производитель: </th>
          <th>{{midiKeyboardDto.manufacturer}}</th>
        </tr>
        <tr>
          <th>Кол-во клавиш: </th>
          <th>{{midiKeyboardDto.keysNumber}}</th>
        </tr>
        <tr>
          <th>Midi-Выход: </th>
          <th>{{midiKeyboardDto.hasMidiOut}}</th>
        </tr>
        <tr>
          <th>Цена: </th>
          <th>{{midiKeyboardDto.price}}</th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
